body {
    font-family: Arial, Helvetica, sans-serif;
}
.businessCard{
    margin: auto;
    /* width: 33%; */
    max-height: 100%;
    border: 3px solid black;
    padding: 10px;
    /* font-size: 1.2vw; */
    overflow: hidden;
    /* column-count: 2;
    column-fill: balance; */
}
.name{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.category{
    font-weight: bold;
    width: 10%;
    display: inline-block;
    /* margin-right: 10px; */
}
.value{
    display: inline;
}
.headshot{
    /* display: inline-block; */
    /* max-height: 100%; */
    margin-right: 10px;
    object-fit: scale-down;
    display: block;
    float:left;
}
.infoList{
    margin-left: 10px;
}
/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {}