body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ccc;
    background-color: #222
}
table {
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
}
table caption {
    padding: .5em;
}
table th,
table td {
    padding: .5em;
    border: 1px solid lightgrey;
}
a{
    text-decoration: none;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.header, .footer {
    /* background: #222; */
    padding: 20px;
    text-align: center;
}

.main {
    padding: 20px;
    text-align: center;
}

/* Responsive layout - makes the menu and the content stack on top of each other */
@media (max-width: 600px) {
    .container {
        width: 100%;
    }
    .header, .footer {
        padding: 10px;
    }
    .main {
        padding: 10px;
    }
}