body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    background-color: #222
}
table {
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
}
table caption {
    padding: .5em;
}
table th,
table td {
    padding: .5em;
    border: 1px solid lightgrey;
}
a{
    text-decoration: none;
}
